body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 15px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}

.main {
  background-color: rgb(217, 229, 241);
  width: 250px;  
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(47, 48, 48);
}

@media (max-width: 480px) {
  body {
    margin: auto;
  }

  .main {
    width: 90%;
    max-width: 320px;
    padding: 15px;
  }

}

.temp-label {
  padding-bottom: 15px;
}

.temp-label select {
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#value {
  text-align: center;
  font-size: 15px;
}

#button {
  padding: 7px 12px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  font-size: 17px;
  background-color: rgb(147, 196, 239);
  cursor: pointer;
  transition: 0.2s
}

#button:hover {
  background-color: rgb(124, 171, 212);
}

#button:active {
  background-color: rgb(147, 196, 239);
  transform: scale(0.90);
}

#result {
  font-weight: bold;
  font-size: 16px;
}